.span9.offset2.front-facing
  %br
    %h1 Rails CRM - Customer Relations Management
    %br
    %p
      Welcome to the new Rails CRM.  There are now two flavors of Rails CRM; basic and advanced.  As I have said before, I want the Rails CRM to be just barely more than bare bones.  I am however continuing to advance Rails CRM to be more than the basic version.
    %p
      Rails CRM is an opensource Customer Relations Management application. Intended to be similiar to Paid CRM's, Rails CRM is going to be the bare bones minimum for a CRM but yet can be cloned and modified however you please.
    %p
      Rails CRM uses Mongoid and Mongodb, Twitter Bootstrap, Devise for authentication, as well as HAML and SASS. I prefer to use nosql and Mongodb is our favorite. I looked at a few other opensource CRM's but did not find any that used mongodb.
    %p
      The basic version is designed to be used for just one organization at a time but the new version is being designed to be more of a SaaS.

    %h2 Demo Rails CRM
    %br
    %p
      To try out Rails CRM, login with the email: test@example.com and password as 'password'.  You will belong to a test organization.

    %h2 Open Source
    %br
    %p
      Rails CRM is totally opensourced.  All code is available on github. Select from the original basic version
      %a{href: "https://github.com/brobertsaz/railscrm"}
        RailsCRM
      or the new advanced version
      %a{href: "https://github.com/brobertsaz/railscrm-advanced"}
        RailsCRM-advanced

    %h2 Want to learn more?
    %br
    %p
      If you would like to learn more about Rails CRM or have any questions, feel free to
      %a{:href => "mailto:broberts_az@yahoo.com", :target => "_blank"} send me an email.
      I am interested in hearing your comments/suggestions or if there is interest for a hosted solution.
  %br
  %br
