.span12.offset3.front-facing
  %br
    %h2 Rails CRM - Customer Relations Management
    %p
      I recently decided to add to RailsCRM some more and do another make over.  I have also toyed with the idea of offering it as a SaaS.  My original intention was to make it and keep it open sourced.  There are two versions that are open sourced and will remain so.
    %p
      I want to make RailsCRM something that is easy to use and something that people want to use.  In order to do that, I need feedback from the few of you that are using it or thinking of using it.  If you have ideas that you would like to see implemented, please let me know.  If there is any interest in SaaS I might just go ahead and do that.
    %p
      If you want to try it out, please login with test@example.com and password for the password.


    %h2 Open Source
    %p
      Rails CRM is totally opensourced.  All code is available on github. Select from the original basic version
      %a{href: "https://github.com/brobertsaz/railscrm"}
        RailsCRM
      or the new advanced version
      %a{href: "https://github.com/brobertsaz/railscrm-advanced"}
        RailsCRM-advanced

    %h2 Want to learn more?
    %p
      If you would like to learn more about Rails CRM or have any questions, feel free to
      %a{:href => "mailto:broberts_az@yahoo.com", :target => "_blank"} send me an email.
      I am interested in hearing your comments/suggestions or if there is interest for a hosted solution.
  %br
  %br
