.navbar-right
  float: right
.navbar .brand
  color: white
.navbar .nav>li>a
  color: white
.navbar-inner
  min-height: 30px

.form-group
  .control-group
    display: inline-block
  form
    margin: 0px

form
  overflow: auto
  .left-column
    float: left
  .right-column
    float: left

.web-to-lead
  form
    .row
      padding-left: 30px

footer
  clear: both
  margin-top: 20px
  text-align: center
  font-weight: bold

h2
  font-size: 24px
body
  font-size: 12px

table
  margin-top: 40px
  thead
    color: #FFFFFF
    background-color: #F71F1F
    background-image: -webkit-linear-gradient(top, #F71F1F, #8d0e0e)
    background-image: -moz-linear-gradient(top, #F71F1F, #8d0e0e)
    background-image: -ms-linear-gradient(top, #F71F1F, #8d0e0e)
    background-image: -o-linear-gradient(top, #F71F1F, #8d0e0e)
    background-image: linear-gradient(to bottom, #F71F1F, #8d0e0e)