body
  background-color: #bdbdbd
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  font-size: 14px
.navbar-right
  float: right
.navbar .brand
  color: #FFFFFF

.navbar .nav>li>a
  color: #FFFFFF
  text-shadow: none


.navbar-inner
  min-height: 30px
.nav-head
  background: #fff
  margin: 10px -10px
  padding-left: 20px
  padding-top: 5px
  font-weight: bold
  font-size: 14px
  text-align: left
  height: 22px
.form-group
  .control-group
    display: inline-block
  form
    margin: 0px
    input
      font-size: 12px


form
  overflow: auto
  .left-column
    float: left
    margin-left: -30px
  .right-column
    float: left

.form
  width: 800px
  background-color: #eee
  margin-right: 75px
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
  h2
    padding-left: 20px
    padding-top: 20px
    margin-left: 10px
    margin-right: 10px
    border-bottom: 1px solid #ffffff
  legend
    padding-left: 20px

.sidebar
  background-color: #eee
  margin-left: 0px
  margin-top: 10px
  padding-left: 10px
  padding-right: 10px
  height: 300px !important
  border: 1px solid #666
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
  .nav-list
    margin-left: 10px
    font-size: 14px

.buttons
  float: right
  margin-right: 30px
  margin-top: 20px

.web-to-lead
  form
    .row
      padding-left: 30px

footer
  clear: both
  margin-top: 20px
  text-align: center
  font-weight: bold

.btn
  margin-bottom: 5px
.btn-danger
  margin-top: 3px

h2
  font-size: 24px

.table-striped tbody>tr:nth-child(even)>td
  // background-color: #E0E0E0

table
  thead
    color: #FFFFFF
    background-color: #999
    background-image: -webkit-linear-gradient(top, #ACACAC, #333333)
    background-image: -moz-linear-gradient(top, #ACACAC, #333333)
    background-image: -ms-linear-gradient(top, #ACACAC, #333333)
    background-image: -o-linear-gradient(top, #ACACAC, #333333)
    background-image: linear-gradient(to bottom, #ACACAC, #333333)

.span10.well
  margin-top: 10px
.well.plans
  min-height: 20px
  padding: 19px
  margin-bottom: 20px
  background-color: #f5f5f5
  border: 1px solid #e3e3e3
  -webkit-border-radius: 0 0 10px 10px
  -moz-border-radius: 0 0 10px 10px
  border-radius: 0 0 10px 10px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)

.span3.first
  margin-left: 38px !important
  margin-right: 60px

.span3.second
  margin-right: 60px

.front-page
  margin: 0 auto
  width: 900px
  background: #f8f8f8
  padding: 0 40px 40px 40px
  border: 1px solid #666
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
  margin-bottom: 30px
  a
    font-weight: bold
  .well
    background-color: #999
    .label
      margin-top: 10px
  .well.trial
    margin: 0 auto
    width: 275px
    border: 1px solid #666
    background: #fff
    -webkit-border-radius: 10px 10px 10px 10px
    -moz-border-radius: 10px 10px 10px 10px
    border-radius: 10px 10px 10px 10px
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
    box-shadow: 0 1px 2px rgba(0,0,0,.15)
    h2
      margin: 0
      text-align: center
    p
      font-weight: bold
      text-align: center

.contact-us
  margin-left: 10px
  input[type=text], input[type=email]
    width: 300px
  input, textarea
    width: 300px
  input[type="submit"].btn
    width: 120px
    float: right
  .select
    width: 313px

.activities-section
  margin: 0 20px
.login-page
  margin: 0 auto
  width: 300px
  background-color: #eee
  padding: 20px
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
.user-profile
  margin: 10px 0 20px 0
  width: 300px
  background-color: #eee
  padding: 20px
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
.contact-us-form
  width: 450px
  margin: 0 auto
  background-color: #eee
  padding: 20px
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)

.well
  background-color: #eee
  border: 1px solid #eee

.well
  .muted, .text-warning, .text-info
    background: #fff
    padding-top: 6px
    font-size: 16px
    padding-left: 20px
    font-weight: bold
    margin-top: -50px
    height: 30px
    border: 1px solid #999
    margin-left: -19px
    margin-right: -19px
    -webkit-border-radius: 10px 10px 0 0
    -moz-border-radius: 10px 10px 0 0
    border-radius: 10px 10px 0 0
    border-bottom: 0
