body
  background-color: #fff
.navbar-right
  float: right
.navbar .brand
  color: #FFFFFF

.navbar .nav>li>a
  color: #FFFFFF
  text-shadow: none


.navbar-inner
  min-height: 30px
.nav-head
  background: #fff
  margin: 10px -10px
  padding-left: 20px
  padding-top: 5px
  font-weight: bold
  font-size: 14px
  text-align: left
  height: 22px
.form-group
  .control-group
    display: inline-block
  form
    margin: 0px
    input
      font-size: 12px


form
  overflow: auto
  .left-column
    float: left
    margin-left: -30px
  .right-column
    float: left

.form
  width: 800px
  background-color: #eee
  margin-right: 75px
  h2
    padding-left: 20px
    padding-top: 20px
    margin-left: 10px
    margin-right: 10px
    border-bottom: 1px solid #ffffff
  legend
    padding-left: 20px

.sidebar
  color: #F01440
  background-color: #eee
  margin-left: 0px
  margin-top: -20px
  padding-left: 10px
  padding-right: 10px
  padding-top: 10px
  // border-left: 1px solid #cccccc
  // border-right: 1px solid #cccccc
  .nav-list
    margin-left: 10px

.buttons
  float: right
  margin-right: 30px
  margin-top: 20px

.web-to-lead
  form
    .row
      padding-left: 30px

footer
  clear: both
  margin-top: 20px
  text-align: center
  font-weight: bold

.btn
  margin-bottom: 5px
.btn-danger
  margin-top: 3px

h2
  font-size: 24px
body
  font-size: 12px

.table-striped tbody>tr:nth-child(even)>td
  background-color: #E0E0E0

table
  thead
    color: #FFFFFF
    background-color: #D31515
    background-image: -webkit-linear-gradient(top, #D31515, #8d0e0e)
    background-image: -moz-linear-gradient(top, #D31515, #8d0e0e)
    background-image: -ms-linear-gradient(top, #D31515, #8d0e0e)
    background-image: -o-linear-gradient(top, #D31515, #8d0e0e)
    background-image: linear-gradient(to bottom, #D31515, #8d0e0e)

.span3.first
  margin-left: 38px !important
  margin-right: 60px

.span3.second
  margin-right: 60px

.front-page
  margin: 0 auto
  width: 900px
  a
    font-weight: bold
  .well.trial
    margin: 0 auto
    width: 275px
    background: #999
    h2
      text-align: center
.contact-us
  margin-left: 10px
  input[type=text], input[type=email]
    width: 300px
  input, textarea
    width: 300px
  input[type="submit"].btn
    width: 120px
    float: right
  .select
    width: 313px

.activities-section
  margin: 0 20px
.login-page
  margin: 0 auto
  width: 300px
  background-color: #eee
  padding: 20px
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
.user-profile
  margin: 10px 0 20px 0
  width: 300px
  background-color: #eee
  padding: 20px
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
.contact-us-form
  width: 450px
  margin: 0 auto
  background-color: #eee
  padding: 20px
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15)
  box-shadow: 0 1px 2px rgba(0,0,0,.15)


