/ %h1
/   A new request for information was filled out

/ %p
/   = @contact.name unless @contact.name == nil
/   = @contact.email unless @contact.email == nil
/   = @contact.request_type unless @contact.request_type == nil
/   = @contact.message unless @contact.message == nil